<!DOCTYPE html>
<html>
<head>
    <title>Appointer Meetings</title>
</head>
<body>
    <h1>Appointer Meetings</h1>
    <button id="myButton">Create Meeting</button>

    <script>
        document.getElementById("myButton").addEventListener("click", function() {
            window.location.href = "/create_meeting";
        });
    </script>
</body>
</html>